@import 'tailwindcss';

html,
body,
#root {
	background-color: #050505;
	scroll-behavior: smooth;
	color: white;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}
.bg-glow {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	background: radial-gradient(
		circle at center,
		rgba(16, 185, 129, 0.1) 0%,
		rgba(16, 185, 129, 0.04) 30%,
		transparent 70%
	);
	z-index: 0; /* Changed to 0 or -1 depending on parent */
	user-select: none;
}

@layer utilities {
	.perspective-1000 {
		perspective: 1000px;
	}
	.backface-hidden {
		backface-visibility: hidden;
	}
}
